body{
    padding: 90px;
    background-color: rgb(11, 11, 61);
}
.playbtn{
    
    height: 100px;
    width: 100px;
    margin-left: 20px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgb(233, 233, 184);
    transition: box-shadow 0.5s ease-in-out;
}
button:hover{
    box-shadow: 0px 0px 10px yellow;
}
img{
    height: 65px;
}
.title{
    display: inline;
    font-size: 30px;
    color:white;
}
.name{
    display: inline;
    font-size: 30px;
    color:white;
    margin-left: 30px;
    word-spacing: 55px;
}
.resetbtn{
  height: 60px;
  width: 60px;
  border-radius: 50%;
  position: absolute;
  font-weight: 800;
  top: 250px;
  left: 600px;
}
.game{
  display: inline;
}
.score-board{
  width: 150px;
  height: 100px;
  background-color: white;
  border-radius: 12px;
  position: absolute;
  top: 150px;
  left: 550px;
  box-shadow: 0px 0px 10px yellow;
}
.shead{
  padding: 0;
  color: rgb(0, 0, 0);
  display: flex;
  list-style: none;
  font-weight: bolder;
  justify-content: space-evenly;
}
.score-update{
  display: flex;
  justify-content: space-evenly;
  word-spacing: 40px;
  font-weight: bolder;
}
.move-card{
  height: 230px;
  width: 450px;
  background-color: white;
  border-radius: 12px;
}
.moves{
    display: flex;
    justify-content: space-around;
}
.moves p{
  font-weight: bolder;
  margin: 0;
  margin-top: 8px;
  height: 40px;
}

.your-move{
    margin: 0;
    padding: 0;
  position: relative;
  background-color: red;
  display: inline-block;
  height: 200px;
  width: 200px;
  margin-left: 10px;
  bottom: 20px;
}
.computer-move{
  background-color: blue;
    margin: 0;
    padding: 0;
    margin-left: 10px;
    bottom: 20px;
  display: inline-block;
  height: 200px;
  width: 200px;
}
